@import 'variables';

.banner {
  height: 440px;
}

.bannerTop {
  height: 115px;
  background-color: #413f3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerTopTextContainer {
  display: flex;
  width: 950px;
  flex-direction: column;
}

.bannerTopTitle {
  font-size: 1.2em;
  font-weight: 200;
  color: $fandor-orange;
  padding-bottom: 5px;

}

.bannerTopBlurb {
  font-size: .85em;
  font-weight: 200;
  color: white;
}

@media (max-width: 950px) {
  .bannerTopTextContainer {
    padding-left: 20px;
  }
}
