@import 'variables';

.festivalItem {
  height: 320px;
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #c8c8c6;
  z-index: 0;
  cursor: pointer;
  margin-bottom: 20px;
}

.festivalItemImage {
  width: 100%;
}

.festivalItemDescription {
  width: 200px;
  height: 158px;
  font-size: .85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.festivalItemRibbon {
  position: absolute;
  width: 70px;
  height: 35px;
  font-size: .7em;
  font-weight: 100;
  color: white;
  z-index: 1;
  margin-top: -78px;
  margin-left: -6px;
  margin-right: 6px;
  margin-bottom: 46px;
  background-image: url('http://d3uc4wuqnt61m1.cloudfront.net/assets/ribbon-short-bad7c64466e5f550989f9201dce59f35.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.festivalItemRibbon > div {
  margin-left: -12px;
  margin-top: -2px;
}

.festivalItemName {
  color: $fandor-blue;
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: flex-start;
  padding-left: 15px;
}

@media (max-width: 1000px) {
  .festivalItem {
    margin-right: 20px;
  }
}
